<h1> Condições Gerais de Utilização/Politicas de Segurança </h1>
<hr><br>
<div class="col-md-6 col-md-offset-2 col-lg-8">
  <p><b>Na SiC respeitamos a sua privacidade e agradecemos a confiança que deposita em nós. Nesta Política de
      Privacidade
      explicamos quem somos, para que finalidades podemos usar os seus dados, como os tratamos, com quem os
      partilhamos,
      durante quanto tempo os conservamos, bem como as formas de entrar em contacto connosco e de exercer os seus
      direitos.</b>
  </p>
  <h3> 1. Utilização do Site</h3>
  <p>
    1.1. O utilizador declara que, compreende ao visitar o site da SiC, que este se trata de um projeto
    meramente académico e sem qualquer fim lucrativo e por conseguinte, aceita os termos e condições gerais de
    utilização .
  </p>
  <p>
    1.2. As Condições Gerais de Utilização do site podem ser atualizadas sem aviso prévio, pelo que aconselhamos que as
    releia periodicamente.
  </p>
  <p>
    1.3. Os produtos e serviços constantes no site SiC podem ser retirados ou alterados sem aviso prévio.
  </p>
  <p>
    1.4. Não garantimos a disponibilidade permanente do site, pelo que o mesmo poderá, por qualquer razão e sem aviso
    prévio, ficar indisponível por um determinado período.
  </p>
  <p>
    1.5. O site da SiC tem como principais objetivos simular uma interação entre médicos e utentes, sendo
    apenas responsável pelas informações respeitantes aos mesmos e que constem neste site. Assim, todas as
    hiperligações que sejam visitadas por intermédio do nosso site, bem como as ações tomadas pelos utilizadores, serão
    única e exclusivamente da sua responsabilidade.
  </p>
  <p>
    1.6. O utilizador não deve fornecer dados verdadeiros, pelo o que o SiC não assume qualquer responsabilidade na
    perda ou usurpação de dados pessoais.
  </p>

  <h3>2. Política de Privacidade</h3>

  <b>Os dados fornecidos serão processados informaticamente pela SiC. Esta política de privacidade
    aplica-se apenas às informações recolhidas através do nosso website. A utilização do site SiC implica o
    consentimento com as nossas Políticas de Privacidade e Condições de Utilização do Site. </b>

  <h3>2.1. Informações recolhidas</h3>
  <p> 2.1.1. A SiC recolhe informações quando se regista no nosso site.
    <br> 2.1.2. Quando se regista no nosso site, os dados que recolhemos são o seu nome, e-mail e contacto telefónico.
    <br>2.1.3. O registo no site não é obrigatório. A sua visita ao mesmo pode ser anónima.
    <br> 2.1.4. O registo no site concede ao SiC autorização durante dois anos para realizar tratamento de
    dados. No limite deste período será notificado da sua caducidade.
    <br>2.1.5. Após o registo e quando desejar pode denunciar as Condições Gerais de Utilização na sua área de cliente.
    O SiC não permitira recuperar a sua conta, nem se responsabiliza por qualquer perda de informação ou
    interação que daí resultante.
  </p>
  <h3>2.2. Utilização das informações</h3>
  <b> As informações recolhidas podem ser utilizadas com os seguintes fins:</b>
  <p> 2.2.1. Personalização da sua experiência - a sua informação permite-nos responder melhor às suas necessidades.
    <br>2.2.2. Melhoria do nosso site - tentamos sempre aumentar a qualidade da experiência.
    <br>2.2.3. Melhoria do serviço ao cliente - a sua informação permite-nos responder mais efetivamente aos seus
    pedidos e necessidades.
    <br>2.2.4. Processamento de transações - a sua informação, quer seja pública ou privada,
    não será cedida a terceiros sem o seu consentimento.
    <br> 2.2.5. Envio periódico de e-mails - o e-mail que fornecer
    poderá ser utilizado para o envio de informações relativas a informações relativas a serviços ou à utilização da
    sua conta pessoal, entre outros. O conteúdo destes emails é meramente relativo aos serviços da plataforma. Se
    pretender deixar de receber emails deve cancelar a sua subscrição na sua área pessoal do SiC.
  </p>
  <h3> 2.3. Proteção de dados</h3>
  <b> O site SiC possui diversas medidas de segurança, de forma a manter a segurança da sua informação pessoal quando
    insere, altera ou acede aos seus dados pessoais.
  </b>
  <h3> 2.4. Utilização de Cookies</h3>
  <p> 2.4.1. Cookies são pequenos ficheiros que o nosso site transfere para o disco rígido do seu computador, e que nos
    permite reconhecer o seu browser e lembrar determinadas informações.
  </p>
  <h3>2.5. Partilha de informações com terceiros </h3>
  <p>
    <b>2.5.1. A SiC não vende, troca, ou transfere os seus dados pessoais para terceiros.</b>
    <br> 2.5.2. Os dados poderão ser fornecidos em situações que o justifiquem, como a colaboração com autoridades
    judiciais.
  </p>
  <h3>2.6. Direito ao apagamento dos dados (“direito a ser esquecido”)</h3>
  <p>
    O titular dos dados pessoais tem o direito pedir à SiC para apagar os seus dados, sem demora injustificada, e a
    sIC tem a obrigação de apagar os dados pessoais quando se aplique, designadamente, um dos seguintes motivos:
    <BR>2.5.1. Os dados pessoais deixaram de ser necessários para a finalidade que motivou a sua recolha ou tratamento;
    <br>2.5.2. O titular retirou o seu consentimento para o tratamento de dados (nos casos em que o tratamento é
    baseado no consentimento) e não existir outro fundamento para o referido tratamento;
    <br>2.5.3.O titular opõe-se ao tratamento e não existem interesses legítimos prevalecentes que justifiquem o
    tratamento;
  </p>
  <h3>3. Serviços</h3>
  <p> 3.1. O site SiC é atualizado diariamente, de forma a que todas as informações constantes no mesmo,
    nomeadamente, descrições e disponibilidade dos serviços, sejam as corretas. As alterações que possam ocorrer serão
    realizadas sem aviso prévio. </p>
  <p> 3.2. A SiC reserva-se o direito de, justificadamente, recusar o acesso a quaisquer produtos.
  </p>
  <p> 3.3. Na eventualidade de ser detetado algum problema com um serviço, entraremos imediatamente em contacto
    consigo, recorrendo, para isso, ao número de telefone ou e-mail fornecidos na sua ficha de cliente.
  </p>
  <p> 3.4. A SiC garante que desenvolverá os seus melhores esforços para manter os dados da sua conta
    seguros, mas não se responsabiliza por qualquer dano que o cliente possa sofrer em consequência do acesso não
    autorizado de terceiros a quaisquer dados que o cliente forneceu ao aceder ao site.
  </p>
  <h3>4. Resolução de Conflitos </h3>
  <p>
    <b>Em caso de litígio, o consumidor pode recorrer a uma Entidade de Resolução Alternativa de Litígios de consumo.
      Centro de Informação de Consumo e Arbitragem do Porto, Rua Damião de Góis, nº 31, Loja 6, 4050-225 Porto. Tel.
      225029791/225508349 (custo local) e Fax 225026109. Mais informações em Portal do Consumidor <a href="http://www.consumidor.gov.pt/">www.consumidor.gov.pt</a>
      Lei n.º 144/2015 de 8 de setembro</b> </p>
</div>