<h1>Rota da Fabrica</h1>
<hr><br>
<div class="col-md-8 col-md-offset-2">
  <button [disabled]="loading" class="btn btn-primary">Atualizar Rotas</button>
  <div *ngIf="sucesso" class="alert alert-success">{{sucesso}}</div>
  <div class="table-responsive">
    <table class="table table-hover">
      <tr>
        <th>Data</th>
        <th>Fábrica</th>
        <th>OutPut</th>
        <th>Rota</th>
      </tr>
      <!-- <tr *ngFor="let fabrica of fabricas">
        <td>{{ fabrica.nome }}</td>
        <td>{{ fabrica.morada }}</td>
        </tr> -->
    </table>
  </div>
</div>